/* start virables */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-padding: 20px;
  --section-padding: ;
  --main-transtion: 0.3s;
  --light-boreder-rad: 6px;
}
/* end virables */
/* start global rules */
body {
  background-color: #eee;
  font-family: "open sans ", sans-serif;
  text-transform: capitalize;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--grey-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
/* small screens */
@media (max-width: 768px) {
  .container {
    width: 720px;
  }
}
/* medium screens */
@media (min-width: 991px) {
  .container {
    width: 970px;
  }
}
/* larg screens */
@media (min-width: 1200px) {
  .container {
    width: 1970px;
  }
}
/* end global rules */
/* start page formats */
.page {
  min-height: 100vb;
  display: flex;
  background-color: #f1f5f9;
}
@media (max-width: 767px) {
  .page {
    flex-direction: column;
  }
}
/* end page formats */
/* start slidebar */
.side-bar {
  background: white;
  padding: 20px;
  width: 200px;
  position: relative;
}
@media (max-width: 767px) {
  .side-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.side-bar h3 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.side-bar h3::before,
.side-bar h3::after {
  content: "";
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translatex(-50%);
}
.side-bar h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}
.side-bar h3::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: solid white 4px;
  bottom: -28px;
}
@media (max-width: 767px) {
  .side-bar > h3 {
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 13px;
  }
  .side-bar > h3::before,
  .side-bar > h3::after {
    display: none;
  }
  ul {
    display: flex;
  }
}
.side-bar .active,
.side-bar li:hover {
  transition: var(--main-transtion);
  background-color: #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: var(--main-transtion);
  -moz-transition: var(--main-transtion);
  -ms-transition: var(--main-transtion);
  -o-transition: var(--main-transtion);
}
.side-bar li {
  padding: 10px;
  margin-bottom: 5px;
}
.side-bar li a {
  color: black;
  font-size: 14px;
}
.side-bar li a .side-bar span {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .side-bar {
    padding: 5px;
  }
  .hide {
    display: none;
  }
  .side-bar ul li span {
    display: none;
  }
  .side-bar li {
    margin: 0;
  }
}
/* end slidebar */
/* start content head  */
.content-area {
  width: 100%;
  overflow: hidden;
}
.content-area .head {
  background-color: white;
  display: flex;
  padding: 7px var(--main-padding);
  justify-content: space-between;
  align-items: center;
}
.content-area .head input {
  transition: var(--main-transtion);
  border-radius: var(--light-boreder-rad);
  -webkit-border-radius: var(--light-boreder-rad);
  -moz-border-radius: var(--light-boreder-rad);
  -ms-border-radius: var(--light-boreder-rad);
  -o-border-radius: var(--light-boreder-rad);
  padding: 5px 10px;
  text-align: center;
  -webkit-transition: var(--main-transtion);
  -moz-transition: var(--main-transtion);
  -ms-transition: var(--main-transtion);
  -o-transition: var(--main-transtion);
  width: 170px;
  border: #ccc solid 1px;
}
.content-area .head form {
  position: relative;
}
.content-area .head input:focus {
  width: 200px;
  position: relative;
  outline: #ddd;
}
.content-area .head input::placeholder {
  color: #888;
  padding-left: 15px;
}
.content-area .head input:focus::placeholder {
  color: transparent;
}
.content-area .head form::before {
  font-family: "font awesome 5 free";
  position: absolute;
  content: "\f002";
  font-weight: 900;
  font-size: 14px;
  color: #777;
  top: 50%;
  transform: translatey(-50%);
  left: 10px;
  z-index: 2;
}
.content-area .head .head-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-area .head img {
  max-width: 100%;
  width: 40px;
  border-radius: 50%;
  margin-left: 20px;
}
.content-area .head .head-image .notifactions {
  position: relative;
}
.content-area .head .head-image .notifactions::before {
  content: "6";
  position: absolute;
  background-color: var(--red-color);
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  right: -7px;
  top: -6px;
  padding: 4px;
  width: 6px;
  height: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
/* end content head  */
/* start content h1 */
.page .content-area .main-h1 {
  margin: 20px 20px 40px;
  position: relative;
}
.page .content-area .main-h1::before,
.page .content-area .main-h1::after {
  content: "";
  left: 0;
  height: 3px;
  bottom: -10px;
  position: absolute;
  border-radius: var(--light-boreder-rad);
  -webkit-border-radius: var(--light-boreder-rad);
  -moz-border-radius: var(--light-boreder-rad);
  -ms-border-radius: var(--light-boreder-rad);
  -o-border-radius: var(--light-boreder-rad);
}
.page .content-area .main-h1::before {
  background-color: white;
  width: 120px;
}
.page .content-area .main-h1::after {
  background-color: black;
  width: 40px;
}
/* end content h1 */
/* start welcome section */
.page .content-area .boxes-holder {
  gap: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.page .content-area .boxes-holder .welcome {
  background-color: white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  overflow: hidden;
}
.page .content-area .boxes-holder .welcome .section-one {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding-left: 20px;
}
.page .content-area .boxes-holder .welcome .section-two {
  position: relative;
  height: 65px;
}
.page .content-area .boxes-holder .welcome .section-two img {
  position: absolute;
  max-width: 100%;
  width: 90px;
  border-radius: 50%;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: 20px;
  border: white 10px solid;
  top: -35px;
  box-shadow: 0 0 5px #ddd;
}
.page .content-area .boxes-holder .welcome .section-three {
  display: flex;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  justify-content: space-around;
  text-align: center;
}
.page .content-area .boxes-holder .welcome .section-three h6 {
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}
.page .content-area .boxes-holder .welcome .section-three p {
  font-size: 16px;
  color: #777;
}
.page .content-area .boxes-holder .welcome .section-four {
  margin-top: 15px;
  padding: 14px;
}
/* end welcome section */
/* start quick draft */

.page .content-area .boxes-holder .draft input {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  border-radius: var(--light-boreder-rad);
  border: transparent;
  background-color: #eee;
  padding: 10px var(--main-padding);
}
.page .content-area .boxes-holder .draft .quick {
  position: relative;
}
.page .content-area .boxes-holder .draft .quick .count {
  position: absolute;
  top: -40px;
  left: 90%;
  background-color: #0d69d5;
  padding: 5px 10px;
  color: #fff;
  border-radius: 6px;
}
.page .content-area .boxes-holder .draft .quick .progress-bar {
  background-color: #0d69d5;
  height: 2px;
  display: block;
  /* width: calc(100% - 20px); */
  position: absolute;
  top: 36px;
  left: 10px;
}
.page .content-area .boxes-holder .draft input::placeholder {
  color: var(--grey-color);
}
.page .content-area .boxes-holder .draft .thoughts {
  padding-bottom: 122px;
}
.page .content-area .boxes-holder .draft .save {
  text-align: end;
}
/* end quick draft */
/* start yearly targets */
.page .content-area .boxes-holder .targets {
  background-color: white;
  border-radius: var(--light-boreder-rad);
  -webkit-border-radius: var(--light-boreder-rad);
  -moz-border-radius: var(--light-boreder-rad);
  -ms-border-radius: var(--light-boreder-rad);
  -o-border-radius: var(--light-boreder-rad);
  padding: var(--main-padding);
}

.page .content-area .boxes-holder .targets .box {
  display: flex;
}
.page .content-area .boxes-holder .targets .box .icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--light-boreder-rad);
  margin-bottom: 15px;
  margin-right: 15px;
  -webkit-border-radius: var(--light-boreder-rad);
  -moz-border-radius: var(--light-boreder-rad);
  -ms-border-radius: var(--light-boreder-rad);
  -o-border-radius: var(--light-boreder-rad);
}
.page .content-area .boxes-holder .targets .box .icon.money {
  background-color: rgb(0 117 255 / 20%);
}
.page .content-area .boxes-holder .targets .box .icon.money i {
  color: var(--blue-color);
}
.page .content-area .boxes-holder .targets .box .icon.projects {
  background-color: rgb(245 158 11 / 20%);
}
.page .content-area .boxes-holder .targets .box .icon.projects i {
  color: var(--orange-color);
}
.page .content-area .boxes-holder .targets .box .icon.team {
  background-color: rgb(34 197 94 / 20%);
}
.page .content-area .boxes-holder .targets .box .icon.team i {
  color: var(--green-color);
}
.page .content-area .boxes-holder .targets .progess {
  flex: 1;
}
.page .content-area .boxes-holder .targets .progress-bar {
  height: 3px;
}
.page .content-area .boxes-holder .targets .progress-bar .pop-up {
  height: 3px;
  display: block;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.page .content-area .boxes-holder .targets .progress-bar .pop-up::before {
  position: absolute;
  width: 34px;
  height: 19px;
  top: -26px;
  right: -17px;
  color: white;
  font-size: 11px;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.page .content-area .boxes-holder .targets .progress-bar .pop-up::after {
  content: "";
  position: absolute;
  border: 7px solid;
  right: -7px;
  top: -8px;
}
.page .content-area .boxes-holder .targets .progress-bar .money::after {
  border-color: #0075ff transparent transparent transparent;
}
.page .content-area .boxes-holder .targets .progress-bar .projects::after {
  border-color: #f59e0b transparent transparent transparent;
}
.page .content-area .boxes-holder .targets .progress-bar .team::after {
  border-color: #22c55e transparent transparent transparent;
}
.page .content-area .boxes-holder .targets .progress-bar .money::before {
  content: "80%";
  background-color: #0075ff;
}
.page .content-area .boxes-holder .targets .progress-bar .projects::before {
  content: "55%";
  background-color: #f59e0b;
}
.page .content-area .boxes-holder .targets .progress-bar .team::before {
  content: "75%";
  background-color: #22c55e;
}
.page .content-area .boxes-holder .targets .money-bar {
  background-color: rgb(0 117 255 / 20%);
}
.page .content-area .boxes-holder .targets .project-bar {
  background-color: rgb(245 158 11 / 20%);
}
.page .content-area .boxes-holder .targets .team-bar {
  background-color: rgb(34 197 94 / 20%);
}
.page .content-area .boxes-holder .targets div {
  color: var(--grey-color);
  font-size: 14px;
  margin-bottom: 5px;
}
.page .content-area .boxes-holder .targets span {
  font-weight: bold;
  font-size: 16px;
}
/* end yearly targets */
/* start tickets statistics */
.statistics .stat-boxes-holder {
  flex-wrap: wrap;
  text-align: center;
  gap: 40px;
}
.statistics .box {
  flex-basis: calc(50% - 40px);
  border: 1px #ddd solid;
  border-radius: var(--light-boreder-rad);
  -webkit-border-radius: var(--light-boreder-rad);
  -moz-border-radius: var(--light-boreder-rad);
  -ms-border-radius: var(--light-boreder-rad);
  -o-border-radius: var(--light-boreder-rad);
  padding: var(--main-padding);
}
.statistics .stat-boxes-holder .box h3 {
  font-size: 24px;
  margin: 14px 0;
}
.statistics .stat-boxes-holder .box span {
  color: #777;
}
.rotate {
  transform: rotate(0deg);
  animation: rotate 2s infinite ease-in-out;
  -webkit-animation: rotate 2s infinite ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/* end tickets statistics */
/* start lastest newes */
.news .news-container .item {
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.news .news-container .item:not(:last-child) {
  border-bottom: 1px solid #999;
}
.news h3 {
  font-size: 24px;
  margin-top: 0;
}
.news .news-container .item .text {
  flex: 1;
}
.news .news-container .item h4 {
  margin: 0;
}
.news .news-container .item p {
  margin: 5px 0;
  font-size: 14px;
  color: #777;
}
.news .news-container .item span {
  background-color: #ddd;
  padding: 5px;
  border-radius: 6px;
  font-size: 14px;
}
.news .news-container .item .image {
  width: 100px;
  overflow: hidden;
  border-radius: var(--light-boreder-rad);
  -webkit-border-radius: var(--light-boreder-rad);
  -moz-border-radius: var(--light-boreder-rad);
  -ms-border-radius: var(--light-boreder-rad);
  -o-border-radius: var(--light-boreder-rad);
}
/* end lastest newes */
/* start latest taskes */
.taskes .task {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
.taskes .task:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.taskes .task .text h4 {
  margin: 0;
}
.taskes .task .text p {
  font-size: 14px;
  color: #777;
}
.taskes .done {
  opacity: 0.3;
}
.taskes .done h4,
.taskes .done p {
  text-decoration: line-through;
}
/* end latest taskes */
/* start top search items */
.top-search .search-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-search h3 {
  margin-bottom: 20px;
}
.top-search .search-items span {
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 6px;
}
.top-search .search-items.header-search {
  color: #888;
}
/* end top search items */
/* start latest uploades */
.uploads h3 {
  margin-bottom: 20px;
}
.uploads .file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 14px;
}
.uploads .file:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.uploads .file img {
  max-width: 100%;
  width: 40px;
}
.uploads .file .text {
  flex: 1;
}
.uploads .file .text h5 {
  margin: 0;
}
.uploads .file .text p {
  margin: 0;
  margin-top: 6px;
  font-size: 14px;
  color: #777;
}
.uploads .file span {
  background-color: #eee;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
}
/* end latest uploades */
/* start last project progress */
.progress {
  position: relative;
}
.progress-line {
  margin-left: 50px;
}
.progress-line p {
  position: relative;
  margin-top: 30px;
}
.progress-line p::before {
  content: "";
  background-color: var(--blue-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  left: -40px;
  width: 20px;
  height: 20px;
  border: 3px white solid;
  outline: 2px var(--blue-color) solid;
  top: 50%;
  transform: translatey(-50%);
}
.progress-line .empty::before {
  background-color: transparent;
}
.progress-line .flashing::before {
  animation: flashing 0.8s both infinite alternate;
  -webkit-animation: flashing 0.8s both infinite alternate;
}
@keyframes flashing {
  100% {
    background-color: transparent;
  }
}
.progress-line p:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
  left: -28px;
  bottom: -24px;
}
.progress .cool-img {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.2;
}
/* end last project progress */
/* start reminders */
.reminders .reminders-container .item {
  position: relative;
  margin-left: 50px;
}
.reminders .reminders-container .item::before {
  position: absolute;
  content: "";
  left: -20px;
  background-color: red;
  height: 100%;
  width: 2px;
}
.reminders .reminders-container .item::after {
  content: "";
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translatey(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: red;
  width: 15px;
  height: 14px;
}
.reminders .reminders-container .blue-ball::before,
.reminders .reminders-container .blue-ball::after {
  background-color: var(--blue-color);
}
.reminders .reminders-container .green-ball::before,
.reminders .reminders-container .green-ball::after {
  background-color: var(--green-color);
}
.reminders .reminders-container .orange-ball::before,
.reminders .reminders-container .orange-ball::after {
  background-color: var(--orange-color);
}
.reminders .reminders-container .red-ball::before,
.reminders .reminders-container .red-ball::after {
  background-color: var(--red-color);
}
.reminders .reminders-container .item p {
  margin-bottom: 10px;
}
.reminders .reminders-container .item span {
  color: #888;
  font-size: 14px;
}
/* start reminders */
/* start latest post */
.post .profile {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 24px;
}
.post .profile img {
  max-width: 100%;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.post .profile .text h4 {
  margin: 0;
}
.post .profile .text p {
  margin: 0;
  margin-top: 7px;
  color: #888;
}
.post .posted {
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  padding: 20px 0;
  line-height: 1.8;
  text-align: center;
  color: #777;
}
.post .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* end latest post */
/* start social media */
.social-stats .app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(29 161 242 / 20%);
  gap: 20px;
}
.social-stats .app .icon {
  background-color: red;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-stats .app .icon i {
  color: white;
}
.social-stats .app p {
  flex: 1;
}
.social-stats .app span {
  margin-right: 20px;
  background-color: rebeccapurple;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: white;
  padding: 5px 10px;
}
.social-stats .app.twitter {
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}
.social-stats .app.facebook {
  background-color: rgb(24 119 242 / 20%);
  color: #1da1f2;
}
.social-stats .app.youtube {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}
.social-stats .app.linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}
.social-stats .app .icon.twitter {
  background-color: #1da1f2;
}
.social-stats .app .facebook {
  background-color: #1877f2;
}
.social-stats .app .youtube {
  background-color: #ff0000;
}
.social-stats .app .linkedin {
  background-color: #0077b5;
}
.social-stats .app .follow-twitter {
  background-color: #1da1f2;
}
.social-stats .app .like {
  background-color: #1877f2;
}
.social-stats .app .sub {
  background-color: #ff0000;
}
.social-stats .app .follow-linkedin {
  background-color: #0077b5;
}

/* end social media */
/* start table for porjects */
.projects-table {
  margin-top: 20px;
}
.projects-table .responsive-table {
  font-size: 15px;
  overflow-x: auto;
}
.projects-table .responsive-table table {
  min-width: 1000px;
  width: 100%;
  border-spacing: 0;
}
.projects-table .responsive-table table thead td {
  background-color: #eee;
  font-weight: bold;
}
.projects-table .responsive-table table td {
  padding: 15px;
}
.projects-table .responsive-table table tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.projects-table .responsive-table table tbody td:last-child {
  border-right: 1px solid #eee;
}
.projects-table .responsive-table table tbody tr:hover td {
  background-color: #faf7f7;
}
.projects-table .responsive-table tbody img {
  max-width: 100%;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects-table .responsive-table tbody img:not(:first-child) {
  margin-left: -20px;
}
/* end table for porjects */
/* start setting page */
.page .setting-page {
  gap: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.page .setting-page .site-control form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page .setting-page .site-control form .text h4 {
  font-size: 18px;
  margin: 0;
  font-weight: normal;
  font-size: 22px;
}
.page .setting-page .site-control textarea {
  margin-top: 10px;
  border: 1px solid #ccc;
  min-height: 150px;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background: #ddd;
  resize: none;
}
/* start general info */
.page .setting-page .general-info form input {
  border: 1px solid #ccc;
  min-height: 40px;
  background: #ddd;
  border-radius: 6px;
}
.page .setting-page .general-info form label {
  font-size: 14px;
  color: #777;
}
.page .setting-page .general-info .changable-email {
  display: flex;
  gap: 30px;
}
/* end general info */
/* security info start */
.security-info .box:not(:last-child) {
  border-bottom: 1px #ddd solid;
}
/* security info end */

/* start social info */

.social-info .boxes .box {
  border: 1px solid #ddd;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  margin-top: 10px;
}
.social-info .boxes .box i {
  border-right: 1px solid #ddd;
  margin-right: 14px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  height: 41px;
  width: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
}
.social-info .boxes .box:hover i {
  color: black;
}
.social-info .boxes .box input {
  color: #777;
  border: none;
  font-size: 14px;
}
/* start social info */
.widgets-control form label p {
  margin-left: 14px;
}
/* end social info */
/* backup marnger start */
.backup-manager label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.backup-manager .check {
  position: relative;
}
.backup-manager .castom-check {
  position: relative;
  width: 17px;
  height: 17px;
  background-color: white;
  border: 2px #777 solid;
  border-radius: 5px;
  transition: border 0.1s, background-color 0.3s;
  -webkit-transition: border 0.1s, background-color 0.3s;
  -moz-transition: border 0.1s, background-color 0.3s;
  -ms-transition: border 0.1s, background-color 0.3s;
  -o-transition: border 0.1s, background-color 0.3s;
}
.backup-manager .castom-check:hover {
  border: 2px var(--blue-alt-color) solid;
}
.backup-manager .check:checked + .castom-check {
  background-color: var(--blue-color);
}
.backup-manager .castom-check::before {
  position: absolute;
  font-weight: 900;
  font-family: "font awesome 6 free";
  content: "";
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  font-size: 19px;
  color: transparent;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.backup-manager .check:checked + .castom-check::before {
  color: white;
  content: "\f00c";
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
/* backup marnger end */

/* end setting page */
